* { 
    margin: 0; 
    padding: 0; 
}

html{
    width: 100%;
    height: 100%;
    background-color: #33383b;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

html, body {
    overflow-x: hidden;
}

header{
    display: flex;
}
/* =============================WHATSAPP-BUTTON-START============================= */
.whatsapp{
    width: 400px;
    height: 50px;
    border-radius: 2rem;
    text-decoration: none;
    background-color: #25d366;
    display: inline-block;
    font-family: "Noto Serif", serif;
    font-weight: initial;
    font-size: 22px;
    color: #f1f1f1;
    transition: 0.75s;
    padding: 0.5rem;
}

.whatsapp:hover{
    background-color:#128c7e;
    transition: 0.75s;
    box-shadow: 10px 10px #121213;
}


/* =============================WHATSAPP-BUTTON-END=============================== */

/* =============================NAVBAR-START============================= */
.navbar {
    background-color: #121213;
    display: flex;
    padding: 16px;
    font-family: "Noto Serif", serif;
    color: #fff;
    width: 100%;
    border-bottom: solid 1px #fff;
}

.navbar-left-logo img{
    width: 80px;
}

.navbar-itens-right{
    display: flex;
    margin-left: auto;
}

.navbar-links{
    padding: 28px;
}

.navbar-links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navbar-links a:hover{
    color: #f2cf1d;
    transition: 0.75s;
}
/* =============================NAVBAR-END=============================== */

/* =============================SLIDER-START=============================== */
.slider {
    display: block;
    height: 540px;
    width: 720px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
    border-radius: 2rem 0 2rem 0;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    border-radius: 5rem 0 5rem 0;
    border: 1px solid #121213;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #f1f1f1;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 1rem;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.logo{
    margin: auto auto;
}

.logo img{
    width: 540;
}
/* =============================SLIDER-END=============================== */

.one,
.two {
    margin-top: 250px;
    margin-bottom: 250px;
    text-align: center;
}

.one{
    display: flex;
}

.about {
    margin-right: 20px;
    border-right: 1px solid #121213;
}

.about h1{
    color: #f1f1f1;
    font-family: "Noto Serif", serif;
}

.about p{
    color: #f1f1f1;
    font-family: "Noto Serif", serif;
    font-weight: initial;
    font-size: 20px;
    text-indent: 3rem;
    text-align: justify;
    padding: 20px;
    
}

.about span{
    color: #f2cf1d;
}

.image_geral{
    margin: auto auto;
}

.image_geral img{
    border-radius: 5rem;
    border: 1px solid #121213;
}
/* =============================LOCALIZAÇÃO-START============================= */
.two a{
    margin-top: 2rem;
}

.mapa iframe{
    width: 960px;
    height: 720px;
}

/* =============================LOCALIZAÇÃO-END=============================== */

/* =============================FOOTER-START============================= */

.footer {
    background-color: #121213;
    width: 100%;
    height: 100%;
    float: left;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    display: flex;
    border-top: solid 1px #fff;
}

.footer .rigth img{
    position: relative;
    width: 500px;
    height: 311px;
    bottom: 30%;
    right: 15%;
 
}

.footer .left {
    width: 100%;
    float: left;
    /* border-bottom: 1px #222424 solid; */
    border-right: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.footer .title-footer {
    color: #ffffff;
    font-family: "Noto Serif", serif;
    font-weight: initial;
    font-size: 26px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.footer .title-footer span {
    color: #f2cf1d;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.footer .links {
    width: 100%;
    float: left;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0;
}

.footer .links a {
    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    transition: 0.3s;
}

.footer .links a:hover {
    color: #f2cf1d;
    transition: 0.75s;
}

.footer .Copyright {
    font-family: "Noto Serif", serif;
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50px;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: 0.3s;
}

.footer .footer-icons a:hover{
    opacity: 70%;
}
/* ==============================FOOTER-END============================== */

@media (max-width: 1920px) {

    .container,
    .centry {
        width: 1230px;
    }
}

@media (max-width: 992px) {

    .container,
    .centry {
        width: 960px;
        max-width: 100%;
    }
}

.container,
.centry {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}